
<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 650px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Creación Vidas Utiles</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="Limpiar()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-form-label" for="Usuario-name">Objeto<label id="lb1" hidden style="color:red;">*</label></label>
                        <label style="color:red" id="lblErrorIdEmp"></label>
                        <input type="text" id="txtObjeto" class="form-control" maxlength="6" />
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label" for="Usuario-name">Vida Util<label id="lb2" hidden style="color:red;">*</label></label>
                        <label style="color:red" id="lblErrorIdEmp"></label>
                        <input type="text" id="txtVidaUtil" class="form-control" maxlength="4" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <label class="col-form-label" for="Usuario-name">Descripción<label id="lb3" hidden style="color:red;">*</label></label>
                        <label style="color:red" id="lblErrorIdEmp"></label>
                        <textarea class="form-control" id="txtDescripcion" rows="3" placeholder="Digita una descripcion" maxlength="150"></textarea>
                    </div>
                </div>
                <br />
                <br />
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-sm" type="button" onclick="Limpiar()" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary btn-sm" id="BtnGuardar" onclick="Validar()">Agregar</button>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
